<!DOCTYPE HTML>
<html lang="en">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
<title>
    {% block title %}{% endblock %}
</title>

<link href="{{ url_for('static', filename='fonts/roboto.css') }}"
      rel="stylesheet">

<link href="{{ url_for('static', filename='fonts/material_icons.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/material.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}">

{% block head %}
{% endblock%}

<body>


<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
                <span class="android-title mdl-layout-title">
                    <a href="{{ url_for('index') }}"><img class="android-logo-image"
                                                          src="{{ url_for('static', filename='img/logo.png') }}"/></a>
                </span>
            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="android-header-spacer mdl-layout-spacer"></div>
            <!-- Navigation -->
            <div class="android-navigation-container">
                <nav class="android-navigation mdl-navigation">
                    {% block header %}
                    {% endblock %}

                </nav>
            </div>
        </div>
    </div>


    {% block navegationdrawer %}
    {% endblock %}


    {% block body %}


    <footer class="android-footer mdl-mega-footer">
        <center>
            <div class="mdl-mega-footer--middle-section">
                <p>Adkintun Mobile es traído a usted por</p>
                <img src="{{ url_for('static', filename='img/logo_nicblanco.png') }}" width="120px"/>
                <img src="{{ url_for('static', filename='img/logo_inriablanco.png') }}" width="120px"/>
                <img src="{{ url_for('static', filename='img/corfo_logo.png') }}" width="120px"/>
            </div>
        </center>
    </footer>

    {% endblock %}


</div>

</body>

{% block scripts %}
{% endblock %}


</html>
